/* Main
--------------------------------------------------------------------------------------------------------------------- */

.main {
  width: 100%;
  height: 100%;
  border: 10px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  width: 100%;
  max-width: 280px;

  &__form {
    .hidden {
      display: none;
    }

    .button {
      width: 100%;
      display: block;
      margin-bottom: 15px;
      padding: 15px 0;
      cursor: pointer;
      background-color: $info;
      color: $white;
      border: 0 none;
      border-radius: 0;
      box-shadow: none;
      text-transform: uppercase;
      font-size: 15px;

      @include transition(0.3s, all, linear);

      i {
        margin-right: 5px;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $white;
        color: $black;
      }
    }
  }

  &__info {
    width: 100%;
    display: block;
    font-size: 12px;
    font-weight: 500;
  }
}
